# control statements:
### - if Statement
### - if...else statement
### - if...elif...else statement
### - while loop
### - for loop
### - else suite
### - break statement
### - continue statement
### - pass statement
### - assert statement
### - return statement

# if statement:
- syntax:

      if condition:
         statements

In [1]:
x = 10
if x==10:
    print('number is 10')

number is 10

# if else statement:
syntax:

   if condition:
   
       statements1
       
   else:
   
       statements2

In [2]:
x = 10
if x%2==0:
    print('number is even number')
else:
    print('number is not an even number')

number is even number

In [5]:
# test whether the given number is in between 10 to 20
x = int(input('Enter a number:'))
if x>=10 and x<=20:
    print('number is in between 10 and 20')
else:
    print('Enter a valid number')

Enter a number:56
Enter a valid number

# if...elif...else statement:
syntax:

if condition1:

    statements1
   
elif condition2:

    statements2
    
elif condition3:

    statements3
    
else:

    statements5

In [9]:
# test whether the given number is zero, negative, positive
num = int(input('enter a number:'))
if num==0:
    print('number is zero')
elif num<0:
    print('number is Negative')
else:
    print('number is Positive')

enter a number:1098
number is Positive

In [5]:
# test whether the user name and password valid or not
name = input('Enter your name?')
user_name = 'Chandana6057@gmail.com'
password = 2766
username = input('Enter user name:')
if user_name==username:
    pass_word = int(input('Enter password:'))
    if password==pass_word:
        print('Welcome'+name)
    else:
        print('Enter correct password')
else:
    print('Enter correct username')

Enter your name?Chandu
Enter user name:Chandana6057@gmail.com
Enter password:2766
WelcomeChandu

# while loop
- syntax:
     
     while condition:
     
          statements

In [2]:
x = 1
while x<=10:
    print(x)
    x+=1
print('end')

1
2
3
4
5
6
7
8
9
10
end

# for loop
- syntax:
    
    for var in sequence:
    
         statements

In [8]:
# display odd numbers in between 1 to 10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
#display numbers in reverse order from 1 to 15 in single line
for i in range(15,1,-1):
    print(i, end=',')

15,14,13,12,11,10,9,8,7,6,5,4,3,2,

In [11]:
# nested loops
for i in range(1, 11):
    for j in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [12]:
 for i in range(1, 5):
    for j in range(1, i+1):
        print('*', end='')
    print()

*
**
***
****

In [15]:
n = 40
for i in range(1, 11):
    print(' '*n, end='')
    print('* '*(i))
    n-=1

                                        *
                                       * *
                                      * * *
                                     * * * *
                                    * * * * *
                                   * * * * * *
                                  * * * * * * *
                                 * * * * * * * *
                                * * * * * * * * *
                               * * * * * * * * * *

In [17]:
for x in range(1, 11):
    for y in range(1, 11):
        print('{:8}'.format(x*y), end='')
    print()

       1       2       3       4       5       6       7       8       9      10
       2       4       6       8      10      12      14      16      18      20
       3       6       9      12      15      18      21      24      27      30
       4       8      12      16      20      24      28      32      36      40
       5      10      15      20      25      30      35      40      45      50
       6      12      18      24      30      36      42      48      54      60
       7      14      21      28      35      42      49      56      63      70
       8      16      24      32      40      48      56      64      72      80
       9      18      27      36      45      54      63      72      81      90
      10      20      30      40      50      60      70      80      90     100

# else suit:
- we can use else statement with for & while loops
### using else with for:

     for(var in sequence):
         statements
     else:
         statements
### using else with while:

    while(condition):
       statements
    else:
       statements